*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: $mobile-width;
  min-height: 100%;
  margin: 0;

  font-family: $main-font;
  font-size: 16px;
  font-weight: $regular-weight;
  line-height: 22px;
  color: $primary-color;
  background-color: $white;
  background-image: url("../../images/background1.png");
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  main {
    flex-grow: 1;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
