.logo {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 250px;
  transition: opacity 0.2s;

  &:focus-visible,
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &:active svg {
    fill: $green;
  }
}

.logo svg {
  fill: $white;
  transition: fill 0.2s;
}


.logo__img {
  position: relative;
  width: 60px;
  height: 45px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-image: url("../../images/gear-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 9s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
  }
}

.logo__main {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(to right, $dark-bg, $dark-bg);
  background-repeat: no-repeat;
  background-position: 0 13.3px;
  background-size: 40px 18px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
