.hero__container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hero__text {
  margin-bottom: 42px;
}

.hero__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: opacity 0.2s;
  cursor: pointer;

  &::before {
    content: "";
    width: 280px;
    height: 280px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 35px;
    transition: background-size 2s;
  }

  &--laser::before {
    background-image: url("../../images/laser.jpg");
  }

  &--holes::before {
    background-image: url("../../images/holes.jpg");
  }

  &--bend::before {
    background-image: url("../../images/bend.jpg");
  }

  &--turning::before {
    background-image: url("../../images/turning.jpg");
  }

  &--welding::before {
    background-image: url("../../images/welding.jpg");
  }

  &--painting::before {
    background-image: url("../../images/painting.jpg");
  }

  &:hover::before {
    background-size: 120%;
  }

  &:active {
    opacity: 0.8;
  }
}

.hero__item-title {
  margin: 0;
  text-align: center;
  font-weight: $bold-weight;
}
