.order__container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $grey;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.order__text {
  margin-bottom: 80px;
  text-align: justify;
}

.order__algorithm-title {
  font-size: 26px;
  line-height: 1.2;
  font-weight: $bold-weight;
  text-align: center;
}

.order__algorithm {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  margin-top: 40px;
  padding: 0 0 60px;
  list-style: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: $primary-color;
  }

  @media (max-width: calc($desktop-width - 1px)) {
    width: 360px;

    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    padding-left: 60px;

    &::after {
      bottom: 50%;
      left: 0;
      transform: translateY(50%);
      width: 1px;
      height: 100%;
    }
  }

  @media (max-width: calc($tablet-width - 1px)) {
    width: 240px;
    margin: 0 auto;
  }
}

.order__algorithm-item {
  position: relative;
  width: 250px;

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80px;
    height: 80px;
    background-color: $grey;
  }

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 60px;
    height: 60px;
    background-color: $green;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 50px 50px;
  }

  &:nth-child(1)::after {
    mask-size: 46px 46px;
    mask-image: url("../../icons/stack.svg#call");
  }

  &:nth-child(2)::after {
    mask-image: url("../../icons/stack.svg#handshake");
  }

  &:nth-child(3)::after {
    mask-size: 46px 46px;
    mask-image: url("../../icons/stack.svg#docs");
  }

  &:nth-child(4)::after {
    mask-image: url("../../icons/stack.svg#result");
  }


  @media (max-width: calc($desktop-width - 1px)) {
    &::before {
      bottom: 50%;
      left: -60px;
      transform: translate(-50%, 50%);
    }

    &::after {
      bottom: 50%;
      left: -60px;
      transform: translate(-50%, 50%);
    }
  }

  @media (max-width: calc($tablet-width - 1px)) {
    width: 180px;
  }
}

.order__algorithm-text {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 30px;
    background-color: $primary-color;
  }

  @media (max-width: calc($desktop-width - 1px)) {
    &::before {
      bottom: 50%;
      left: -40px;
      transform: translateY(50%);
      width: 30px;
      height: 1px;
    }
  }
}
